appdirs==1.4.4
attrs==21.2.0
black==21.5b1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
fastapi==0.65.0
gunicorn==20.1.0
h11==0.12.0
httptools==0.2.0
idna==3.2
iniconfig==1.1.1
mypy-extensions==0.4.3
packaging==20.9
pathspec==0.8.1
pluggy==0.13.1
py==1.10.0
pydantic==1.8.1
pyparsing==2.4.7
pytest==6.2.4
regex==2021.4.4
requests==2.25.1
starlette==0.14.2
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.4
uvicorn==0.13.4
uvloop==0.15.2
